html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
} 

ul[class],
ol[class] {
    padding: 0;
    list-style: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

ul[class] {
    list-style: none;
}
img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

a[class] {
    text-decoration: none;
} 



/* ======================================== style projects ======================================== */
body{
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-family: 300;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    color: #373A39;
}
.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 75px;
    letter-spacing: -1.65px;
    color: #242121;
    align-self: flex-start;
    position: relative;
}
.title::after{
    content: '';
    position: absolute;
    bottom:-14px;
    left: 0;
    width: 60px;
    height: 4px;
    background-color: #FCBB08;
}
/* fonts 
    font-family: 'Merriweather', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
fonts */

/* ======================================== HEADER START ======================================== */
.header__top-inner{
    padding-bottom: 29px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.header__top{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 2;
}
.menu{
    margin-bottom: 5px;
}
.menu__list{
    display: flex;
}
.menu__btn{
    display: none;
}
.menu__list-item + .menu__list-item{
    margin-left: 36px;
}
.menu__list-link{
    font-family: 'Raleway', sans-serif;
    padding: 0 7px 9px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
    color: #373A39;
    border-bottom: 1px solid transparent;
    transition: border-bottom .5s ease;
}
.menu__list-link:hover{
    border-bottom: 1px solid #FCBB08;
}

.header__content{
    font-family: 'Montserrat', sans-serif;
    background-image: url(../images/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 101px;
}
.header__content-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: calc(100vh - 93px);
}
.header__title{
    font-weight: 500;
    font-size: 72px;
    line-height: 88px;
    color: #fff;
    text-transform: uppercase;
    padding-top: 130px;
    margin-top: auto;
}
.header__subtitle{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.74286px;
    color: #FCBB08;
    margin-bottom: auto;
}
.header__icon{
    margin-bottom: 62px;
}
/* ======================================== HEADER END======================================== */



/* ======================================== ABOUT START ======================================== */
.about{
    background-color: #F6F8FA;
    padding: 150px 0 160px;
}
.about__inner{
    display: flex;
    justify-content: space-between;
}
.about__title{
    font-size: 48px;
}
.about__text{
    max-width: 770px;
}
.about__text p + p{
    margin-top:16px;
}
/* ======================================== ABOUT END ======================================== */



/* ======================================== EXPERTICE START ======================================== */
.expertise{
    padding: 140px 0 160px;
}
.expertise__title{
    margin-bottom: 90px;
}
.expertise__inner{
    display: flex;
    margin-bottom: 110px;
}
.expertise__info{
    width: 370px;
    margin-right: 30px;
    margin-top: 8px;
    flex: none;
}
.expertise__text p + p{
    margin-top: 25px;
}
.expertise__info-item{
    border-top: 2px solid #1d1d1d;
    padding: 2px 0 28px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    color:#1d1d1d;
    position: relative;
}
.expertise__info-item span{
    display: block;
    position: absolute;
    right: 0;
    top:0;
    margin-right: 7px;
}
.expertise__info-item span::before{
    content: '';
    position: absolute;
    height: 2px;
    background-color: #F0F0F0;
    right: -7px;
    top:-2px;
    width: 100%;
}
.expertise__items{
    display: flex;
    justify-content: space-between;
}
.expertise__item{
    width: 370px;
    padding-left: 85px;
    position: relative;
}
.expertise__item::before{
    content: '';
    position: absolute;
    top: -7px;
    left: 0;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
}
.expertise__item--design::before{
    background-image: url(../images/expertise1.svg);
}
.expertise__item--dev::before{
    background-image: url(../images/expertise2.svg);
}
.expertise__item--marketing::before{
    background-image: url(../images/expertise3.svg);
}
.expertise__item-title{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 4.29px;
    text-transform: uppercase;
    color:#333;
    margin-bottom: 15px;
}
.expertise__item-text{
    color: #777;
}
/* ======================================== EXPERTICE END ======================================== */



/* ======================================== MAGIC START ======================================== */
.magic{
    background-color: #F6F8FA;
    background-image: url(../images/magic-bg.jpg);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: left 82%;
}
.magic__title{
    margin-bottom: 70px;
}
.magic__inner{
    max-width: 470px;
    margin-left: auto;
    padding: 100px 0 215px;
}
.magic__text p + p{
    margin-top: 25px;
}
/* ======================================== MAGIC END ======================================== */



/* ======================================== PORTFOLIO START ======================================== */
.portfolio{
    padding: 140px 0 165px;
}
.portfolio__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}
.portfolio__content{
    column-count: 4;
    column-gap: 23px;
    margin-bottom: 72px;
}
.portfolio__item{
    margin-top: 23px;
    position: relative;
    overflow: hidden;
}
.portfolio__item-link{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #fff;
    background-color:#4c4a4a;
    border: 12px solid #666565;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: translateY(15%);
    transition: all .3s ease;
}
.portfolio__item:hover .portfolio__item-link{
    opacity: 1;
    transform: translateY(0);
}
.portfolio__item img{
    width: 100%;
}
.portfolio__filter-btn{
    margin-right: 40px;
}
.portfolio__btn{
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color:#333;
    padding:0 4px 5px;
}
.portfolio__btn + .portfolio__btn{
    margin-left: 25px;
}
.mixitup-control-active{
    border-bottom: 1px solid #FCBB08;
}
.portfolio__add{
    background-color: #F6F8FA;
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #242121;
    letter-spacing: 1.2px;
    text-align: center;
    text-transform: uppercase;
    padding: 42px 15px 41px;
    margin-bottom: 130px;
}
.blockquote{
    font-family: 'Merriweather', serif;
    max-width: 650px;
    margin: 0 auto 148px;
    text-align: center;
    font-weight: 300;
    font-size: 18px;
    line-height: 36px;
    color: #242121;
}
.blockquote__author{
    display: block;
    color: #9E9E9E;
    font-size: 14px;
    line-height: 32px;
    padding-top: 51px;
}
.portfolio__video{
    background-image: url(../images/portfolio-bg.jpg);
    height: 324px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 165px;
}
.portfolio__numbers{

}
.portfolio__numbers-inner{
    display: flex;
    justify-content: space-around;
}
.portfolio__numbers-item{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 73px;
    color: #242121;
    text-align: center;
    margin-bottom: 9px;
}
.portfolio__numbers-item span{
    font-family: 'Open Sans', sans-serif;
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}
/* ======================================== PORTFOLIO END ======================================== */



/* ======================================== SLIDER START ======================================== */
.slider-blog{
    background-color: #F8F6FA;
    padding: 115px 0;
}
.slider-blog__inner{

}
.slider-blog__item{
    padding: 190px 0;
}
.slider-blog__item-link{

}
.slider-blog__item-title{
    display: inline-block;
    font-weight: 700;
    font-size: 36px;
    line-height: 52px;
    color: #242121;
    margin-bottom: 10px;
    max-width: 705px;
}
.slider-blog__item-text{
    font-weight: 300;
    color: #373A39;
    max-width: 620px;
}
.slick-dots {
    display: flex;
    align-items: center;
}
.slick-dots li + li{
    margin-left: 13.3px;
}
.slick-dots li{
    width: 10px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slick-dots li button{
    font-size: 0;
    background-color:#242121;
    opacity: .4;
    width: 60%;
    height: 60%;
    border: none;
    border-radius: 50%;
    padding: 0;
    transition: all .3s ease;
}
.slick-dots .slick-active button{
    width: 100%;
    height: 100%;
    opacity: 1;
}
.slick-prev,
.slick-next{
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-150%);
}
.slick-prev{
    left: -100px;
}
.slick-next{
    right: -100px;
}
/* ======================================== SLIDER END ======================================== */



/* ======================================== TEAM START ======================================== */
.team{
    padding: 120px 0 130px;
}
.team__title{
    margin-bottom: 100px;
}
.team__items{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.team__item{

}
.team__img{
    margin-bottom: 35px;
}
.team__name{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 12px;
    color: #333;
    text-transform: uppercase;
}
.team__position{
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    color: #373A39;
}
/* ======================================== TEAM END ======================================== */



/* ======================================== PRICING START ======================================== */
.pricing{
    background-color: #F6F8FA;
    padding: 145px 0 160px;
}
.pricing__title{
    margin-bottom: 90px;
}
.pricing__items{
    display: flex;
    justify-content: space-between;
}
ul.pricing__item{
    background-color: #fff;
    text-align: center;
    padding: 24px 25px 50px;
    width: 370px;
}
.pricing__item li{
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #242121;
    margin-bottom: 30px;
}
.pricing__item .pricing__item-name{
    font-weight: 700;
    text-align: left;
    margin-bottom: 8px;
}
.pricing__item .pricing__item-num{
    font-weight: 300;
    font-size: 80px;
    line-height: 109px;
    margin-bottom: 50px;
}
.pricing__item .pricing__item-num sup{
    font-size: 40px;
    line-height: 54px;
    margin-right: 5px;
}
.pricing__item .pricing__item-link{
    font-family: 'Montserrat', sans-serif;
    display: block;
    margin-top: 70px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 1.2px;
    color: #242121;
}
/* ======================================== PRICING END ======================================== */



/* ======================================== CLIENTS START ======================================== */
.clients{
    padding: 70px 0 95px;
}
.clients__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* ======================================== CLIENTS END ======================================== */



/* ======================================== CONECTION START ======================================== */
.connection{
    padding: 145px 0 160px;
    background-image: url(../images/map.jpg);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: right 65%;
}
.connection__title{
    margin-bottom: 80px;
}
.form {
    max-width: 570px;
}
.form input{
    display: block;
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 2px solid #373A39;
    font-size: 16px;
    padding: 16px 0;
    margin-bottom: 16px;
}
.form input::placeholder,
.form textarea::placeholder{
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #B8B8B8;
    letter-spacing: 3.70909px;
    text-transform: uppercase;
}
.form textarea{
    display: block;
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 2px solid #373A39;
    font-size: 16px;
    min-height: 155px;
    resize: none;
    margin: 53px 0 40px;
}
.form button{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 11px;
    line-height: 13px;
    color: #fff;
    text-transform: uppercase;
    padding: 17px 70px 15px;
    background-color: #242121;
    cursor: pointer;
    letter-spacing: 2px;
}
/* ======================================== CONECTION END ======================================== */



/* ======================================== FOOTER START ======================================== */
.footer{

}
.footer__top{
    background-color: #333;
    padding: 110px 0 60px;
    text-align: center;
}
.footer__logo{
    display: inline-block;
    padding: 0 35px 4px;
    margin-bottom: 73px;
    border-bottom: 2px solid #FCBB08;
}
ul.footer__social{
    display: flex;
    justify-content: center;
    margin-bottom: 65px;
}
.footer__social-list{

}
.footer__social-list+ .footer__social-list{
    margin-left: 30px;
}
.footer__social-link{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 4px;
    color: #fff;
    text-transform: uppercase;
}
.footer__contact{
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
    margin-bottom: 60px;
}
.footer__contact a{
    display: block;
    color: inherit;
    font: inherit;
}
.address{
    font-style: normal;
}
.footer__go-top{
    display: inline-block;
}
.footer__copy{
    background-color: #2A2C2B;
    padding: 43px 15px;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
    color: #ccc;
}
/* ======================================== FOOTER START ======================================== */





/* media ---------------------------------------------------------------------------------------------- */

@media (max-width:1440px){
    .magic__inner{
        padding: 50px 0;
    }
}
@media (max-width:1200px){
    .about,
    .expertise,
    .portfolio,
    .team,
    .pricing,
    .connection{
        padding: 75px 0;
    }
    .about__inner{
        display: block;
    }
    .about__title,
    .expertise__title,
    .magic__title,
    .team__title,
    .pricing__title,
    .connection__title{
        margin-bottom: 50px;
    }
    .about__text {
        max-width: 100%;
    }
    .title{
        font-size: 48px;
        line-height: 65px;
    }
    .portfolio__filter-btn{
        margin-right: 0;
    }
    .team__items,
    .pricing__items,
    .clients__list{
        gap:20px;
    }
}
@media (max-width:1070px){

}
@media (max-width:992px){
    .expertise__inner{
        display: block;
        margin-bottom: 75px;
    }
    .expertise__info{
        margin-right: 0;
        width: 100%;
    }
    .expertise__items{
        display: block;
    }
    .expertise__item{
        width: 100%;
    }
    .expertise__item + .expertise__item{
        margin-top: 40px;
    }
    .magic{
        background-image: none;
    }
    .magic__inner{
        margin-left: 0;
        max-width: 100%;
    }
    .portfolio__top{
        display: block;
        margin-bottom: 50px;
    }
    .portfolio__filter-btn{
        margin-top: 40px;
    }
    .portfolio__content {
        column-count: 3;
    }
    .connection{
        background-image: none;
    }
    .form{
        max-width: 100%;
    }
    .footer__top{
        padding-top: 75px;
    }
    .footer__logo{
        margin-bottom: 40px;
    }
    ul.footer__social{
        flex-wrap: wrap;
        margin-bottom: 25px;
    }
    .footer__social-list{
        width: 33.333333%;
        margin-bottom: 25px;
    }
    .footer__social-list+ .footer__social-list{
        margin-left: 0;
    }
    .footer__social-list{
        padding: 0 15px;
    }
}
@media (max-width:768px){
    .menu__btn{
        display: block;
        border: none;
        background-color: transparent;
        outline: none;
        padding: 0;
        cursor: pointer;
        position: relative;
        z-index: 2;
    }
    .header__top-inner path,
    .header__top-inner rect{
        transition: all .3s ease;
    }
    .header__top-inner.header__top-inner--active .menu__btn svg path,
    .header__top-inner.header__top-inner--active .menu__btn svg rect,
    .header__top-inner.header__top-inner--active .logo svg path{
        fill:#fff;
    }
    ul.menu__list{
        position: absolute;
        top:0;
        left: 0;
        right: 0;
        background-color: rgb(10, 10, 10);
        flex-direction: column;
        text-align: center;
        padding: 90px 0 15px;
        transform: translateX(-200%);
        transition: all .3s ease;
    }
    ul.menu__list.active{
        transform: translateX(0);
    }
    .menu__list-item + .menu__list-item{
        margin-left: 0;
    }
    .menu__list-link{
        display: block;
        padding: 15px 0;
        color: #fff;
    }
    .logo{
        position: relative;
        z-index: 2;
    }
    .menu__list-link:hover{
        border-bottom: 1px solid transparent;
    }
    .header__title{
        font-size: 50px;
        line-height: 65px;
    }
    .header__subtitle{
        font-size: 14px;
        line-height: 17px;
    }
    .header__icon{
        margin-top: 10px;
    }
    .title{
        font-size: 48px;
        line-height: 60px;
    }
    .portfolio__content {
        column-count: 2;
    }
    .portfolio__btn{
        display: block;
    }
    .portfolio__btn + .portfolio__btn{
        margin-left: 0;
        margin-top: 30px;
    }
    .portfolio__add{
        margin-bottom: 40px;
    }
    .blockquote{
        margin-bottom: 40px;
    }
    .portfolio__video{
        margin-bottom: 75px;
    }
    .portfolio__numbers-inner{
        flex-wrap: wrap;
    }
    .portfolio__numbers-item{
        width: 50%;
        margin-bottom: 30px;
    }
    .pricing__items{
        display: block;
    }
    ul.pricing__item{
        max-width: 500px;
        width: 100%;
        margin: 0 auto 25px;
    }
    .clients__list{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .clients__list li{
        margin-bottom: 25px;
    }
    .header__top-inner{
        padding-bottom: 5px;
    }
}
@media (max-width:640px){
    .slider-blog__item-title{
        font-size: 21px;
        line-height: 37px;
    }
    .slider-blog__item {
        padding: 50px 0;
    }
    .slider-blog {
        padding: 50px 0;
    }
    .team__items{
        display: block;
    }
    .team__item{
        margin-bottom: 30px;
    }
    .team__item img{
        margin: 0 auto;
        margin-bottom: 20px;
    }
}
@media (max-width:440px){
    .header__title{
        font-size: 36px;
        line-height: 55px;
    }
    .header__subtitle{
        font-size: 12px;
    }
    .about {
        padding: 30px 0;
    }
    .about__title,
    .title{
        font-size: 28px;
        line-height: 41px;
    }
    .expertise__inner{
        margin-bottom:50px
    }
    .portfolio__content {
        column-count: 1;
    }
    .blockquote__author{
        padding-top: 20px;
    }
    .portfolio__numbers-item{
        width: 100%;
    }
    .team__item img{
        width: 100%;
    }
    .footer__social-list{
        width: 49.333%;
    }
}
@media (max-width:340px){
    .expertise__item{
        padding-left: 0;
        padding-top: 50px;
    }
}